---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">国妹价格</h1>
        <p class="hero__meta">单次45分钟5000p，两次90分钟10000p，包夜20000p一点以后，陪游一天35000p</p>
        <h1 class="hero__title">菀式服务</h1>
        <p class="hero__meta">单次60分钟5000p，两次90分钟14000p，包夜30000p一点以后</p>
        <p class="hero__meta">鸳鸯戏水 全身放松 波涛汹涌 泰山压顶</p>
        <p class="hero__meta">水漫金山 环游世界 西施口沙 蜻蜓点水</p>
        <p class="hero__meta">猴子摘桃 毒龙钻 引射出洞 玉女销魂</p>
        <p class="hero__meta">翻江倒海 波涛海浪 千手观音 悄悄话</p>
        <p class="hero__meta">环游世界 蜜蜂采蜜 夜猫之恋</p>
        <p class="hero__meta">四条龙(逍遥龙，摇摆龙，深喉龙，旋转龙)</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% if post.type == 'china' %}
                {% include card.html %}
              {% endif %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
